table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

}

th, td {
  border: 1px solid #000000;
  padding: 5px;
  text-align: center;

  word-break: break-word;
  overflow-wrap: break-word;
}

.x {
  width: 200px;
}

.y {
  width: 200px;
}

.r {
  width: 200px;
}
