header {
  font-family: serif;
  font-size: medium;
  color: #000000;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

app-login-form {
  width: 100%;
}
