header {
  font-family: serif;
  font-size: medium;
  color: #000000;
  text-align: center;
}

.container {
  max-width: 2400px;
  margin: 20px auto;
  padding: 20px;
}

.top-row {
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}

.table-block {
  height: 300px;
  overflow-y: auto;
}

app-point-form {
  flex: 1;
}

app-graph {
  flex: 1;
}
